[submodule "Assets/Plugins/UnityGameFramework"]
	path = Assets/Plugins/UnityGameFramework
	url = https://github.com/beiai/UnityGameFramework.git
[submodule "Assets/Plugins/GameFramework"]
	path = Assets/Plugins/GameFramework
	url = https://github.com/beiai/GameFramework.git
